<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="no" http-equiv="imagetoolbar">
  <meta content="initial-scale=1.0,minimum-scale=1,maximum-scale=5" name="viewport">
  <meta content="telephone=no" name="format-detection">
  <meta name="description" content="<%=metaDescription%>">
  <meta name="p:domain_verify" content="<%=pinterestCode%>" />

  <title><%= title %></title>

  <link href="../assets/favicons/favicon.png" rel="icon" sizes="16x16" type="image/png">

  <link href="/stylesheets/style.css">

  <meta content="#252525" name="msapplication-TileColor">
  <meta content="#ffffff" name="theme-color">
  <meta content="website" property="og:type">

  <link href="../assets/css/bundle.css.pagespeed.ce.gkyqQvW_3m.css" rel="stylesheet">
  <link href="../assets/css/custom.css" rel="stylesheet">

</head>

<body class="is-ready">
  <div id="wrapper">
    <%- include("header", {logo: logo, staticList: staticList}); %>
    <%- include("lng-box",{lng: lng}); %>
    <%- include("lng-box-mobile",{lng: lng}); %>

    <div class="l-navSp b-fonts__medium js-nav">
      <div class="p-navSp">
        <div class="p-header__list__item__inner--works">
          <div class="p-header__list__item--all p-navSp__item"><a class="js-nav__link js-target--pointer__stateChange" href="works"><span class="js-target__inner--pointer__stateChange js-target__parent--spring">All</span></a></div>
          <div class="p-header__list__item--focus p-navSp__item"><a class="js-nav__link js-target--pointer__stateChange" href="/#"><span class="js-target__inner--pointer__stateChange js-target__parent--spring">Focus</span></a></div>
        </div>
      </div>
    </div>
    <main class="js-smooth-scroll-wrapper" id="page">
      <div class="js-smooth-scroll-content" id="contents">
        
        <div class="page-content" id="top"></div>
      </div>
      <div id="loading" class="p-loading">
        <div class="p-loading__outer" >
          <div class="p-loading__bg"  ></div>
          <div class="p-loading__inner"  style="width: 150vw">
            <div>
              <div class="p-loading__front"  >
                <div class="p-loading__front__inner" style="font-family:AmalineRegular; font-size: 25px; color: white; margin-top:-10px;text-align: center  ;"  >
                  <%= loadingText %>
               </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </main>
    <aside class="p-sideContact" id="side-contact">
      <address class="l-wide-container">
        <dl class="p-sideContact__inner js-target--sideFix">
          <div class="p-sideContact__unit">
            <dt class="b-fonts__medium"><%= staticList["Hello"] %>.</dt>
            <dd><a class="js-target--pointer__stateChange lang-fonts--en c-link--underline js-hover" data-hover-in-time="1010" data-hover-out-time="850" href="mailto:<%= general["contactEmail"] %>"><span class="js-target__inner--pointer__stateChange c-link--underline__inner"><%= general["contactEmail"] %><span class="c-link--underline__line"></span></span></a></dd>
          </div>
          <div class="p-sideContact__unit">
            <dt class="b-fonts__medium"><%= staticList["Work Together"] %>.</dt>
            <dd><a class="js-target--pointer__stateChange lang-fonts--en c-link--underline js-hover" data-hover-in-time="1010" data-hover-out-time="850" href="mailto:<%= general["workTogetherEmail"] %>"><span class="js-target__inner--pointer__stateChange c-link--underline__inner"><%= general["workTogetherEmail"] %><span class="c-link--underline__line"></span></span></a></dd>
          </div>
          <div class="p-sideContact__unit">
            <div>
              <% if(general["instagram"]) { %>
              <a href="<%= general["instagram"] %>" target="_blank">
                <img src="../assets/social/instagram.png" width="30">
              </a>
              <% } %>
              <% if(general["facebook"]) { %>
              <a href="<%= general["facebook"] %>" target="_blank">
                <img src="../assets/social/facebook.png" width="30">
              </a>
              <% } %>
              <% if(general["linkedin"]) { %>
              <a href="<%= general["linkedin"] %>" target="_blank">
                <img src="../assets/social/linkedin.png" width="30">
              </a>
              <% } %>

            </div>
          </div>
        </dl>
      </address>
    </aside>
    <div class="p-stage" id="stage">

      <div id="app-canvas"></div>
      <ul class="p-stage__menu">
        <% sliders.forEach(function(item) { %>
          
        <li class=" js-canvas__target" data-canvas-thumb="<%= item["image"] %>" data-canvas-url="/work-detail/<% if(item["Work"]) { %><%= item["Work"]["slug"] %><% } else { %>'#'<% } %>" data-canvas-zoom="<%= item["image"] %>">
          <h1 style="color: #D7BD9D; font-size: 40px;"><%= item["title"] %></h1>
          
          <%= item["subTitle"] %>
        </li>
        <% }); %>
      </ul>
    </div>
    <div id="indicator">
      <div id="app-indicator"></div>
    </div>
    <div class="p-pageCover js-target--height__screenFix--mobile" data-fix-height-ratio="1.1" id="pageCover">
      <div class="p-pageCover__inner js-target--height__screenFix--mobile" data-fix-height-ratio="1">
        <p class="p-pageCover__text b-fonts__medium" id="pageCoverText">Next</p>
      </div>
    </div>
  </div>
  <div id="app-mousePointer"></div>
  <div class="l-wide-container p-waitLoader" id="wait-loader">
      <div class="p-waitLoader__inner">
        <div class="p-waitLoader__circle">
          <div class="p-waitLoader__layer back"></div>
          <div class="p-waitLoader__layer front">
          </div>
        </div>
      </div>
  </div>
  <%- include("footer"); %>

</body>

</html>